In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
df_name_basics = pd.read_csv('data/name.basics.csv')

In [3]:
df_name_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12272961 entries, 0 to 12272960
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          float64
 3   deathYear          float64
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: float64(2), object(4)
memory usage: 561.8+ MB

In [4]:
df_name_basics.describe()

           birthYear      deathYear
count  570351.000000  211085.000000
mean     1952.274683    1991.832011
std        34.873542      34.691089
min         4.000000      17.000000
25%      1931.000000    1978.000000
50%      1959.000000    2000.000000
75%      1978.000000    2013.000000
max      2022.000000    2023.000000

In [5]:
df_title_akas = pd.read_csv('data/title.akas.csv')

C:\Users\Dante\AppData\Local\Temp\ipykernel_15796\3761570095.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_akas = pd.read_csv('data/title.akas.csv')

In [6]:
df_title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34798316 entries, 0 to 34798315
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 2.1+ GB

In [7]:
df_title_akas.describe()

           ordering  isOriginalTitle
count  3.479832e+07     3.479621e+07
mean   4.130494e+00     5.180789e-02
std    3.892338e+00     2.216390e-01
min    1.000000e+00     0.000000e+00
25%    2.000000e+00     0.000000e+00
50%    4.000000e+00     0.000000e+00
75%    6.000000e+00     0.000000e+00
max    2.480000e+02     1.000000e+00

In [8]:
df_title_basics = pd.read_csv('data/title.basics.csv')

C:\Users\Dante\AppData\Local\Temp\ipykernel_15796\4271078385.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics = pd.read_csv('data/title.basics.csv')

In [9]:
# generate list of tconsts that need to be fixed
tconst_list = df_title_basics.loc[((df_title_basics['isAdult'] != 0) & (
    df_title_basics['isAdult'] != 1)), 'tconst'].to_list()

In [10]:
# fix data
for tconst in tconst_list:
    df_title_basics.loc[df_title_basics['tconst'] == tconst,
                        'genres'] = df_title_basics.loc[df_title_basics['tconst'] == tconst, 'runtimeMinutes']
    df_title_basics.loc[df_title_basics['tconst'] == tconst,
                        'runtimeMinutes'] = df_title_basics.loc[df_title_basics['tconst'] == tconst, 'endYear']
    df_title_basics.loc[df_title_basics['tconst'] == tconst,
                        'endYear'] = df_title_basics.loc[df_title_basics['tconst'] == tconst, 'startYear']
    df_title_basics.loc[df_title_basics['tconst'] == tconst,
                        'startYear'] = df_title_basics.loc[df_title_basics['tconst'] == tconst, 'isAdult']
    df_title_basics.loc[df_title_basics['tconst'] == tconst,
                        'isAdult'] = df_title_basics.loc[df_title_basics['tconst'] == tconst, 'originalTitle']
    df_title_basics.loc[df_title_basics['tconst'] == tconst,
                        'originalTitle'] = df_title_basics.loc[df_title_basics['tconst'] == tconst, 'primaryTitle']

In [11]:
# infer data types
df_title_basics = df_title_basics.infer_objects()

In [12]:
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9585854 entries, 0 to 9585853
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       float64
 6   endYear         float64
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(2), object(7)
memory usage: 658.2+ MB

In [13]:
df_title_basics['runtimeMinutes']

0           1.0
1           5.0
2           4.0
3          12.0
4           1.0
           ...
9585849     NaN
9585850     NaN
9585851     NaN
9585852      27
9585853      10
Name: runtimeMinutes, Length: 9585854, dtype: object

In [14]:
df_title_basics['runtimeMinutes'] = df_title_basics['runtimeMinutes'].astype(
    'float64')

In [15]:
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9585854 entries, 0 to 9585853
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       float64
 6   endYear         float64
 7   runtimeMinutes  float64
 8   genres          object
dtypes: float64(3), object(6)
memory usage: 658.2+ MB

In [16]:
df_title_basics.to_csv('data/title.basics.csv', index=False)

In [17]:
df_title_crew = pd.read_csv('data/title.crew.csv')

In [18]:
df_title_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582805 entries, 0 to 9582804
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 219.3+ MB

In [19]:
df_title_crew.describe()

           tconst  directors    writers
count     9582805    5499606    4943033
unique    9582805     855727    1240504
top     tt0000001  nm1203430  nm6352729
freq            1      11084      13150

In [20]:
df_title_episode = pd.read_csv('data/title.episode.csv')

In [21]:
df_title_episode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7257081 entries, 0 to 7257080
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   float64
 3   episodeNumber  float64
dtypes: float64(2), object(2)
memory usage: 221.5+ MB

In [22]:
df_title_episode.describe()

       seasonNumber  episodeNumber
count  5.753543e+06   5.753543e+06
mean   3.739853e+00   3.979130e+02
std    2.321241e+01   1.307418e+03
min    1.000000e+00   0.000000e+00
25%    1.000000e+00   7.000000e+00
50%    1.000000e+00   2.600000e+01
75%    3.000000e+00   1.460000e+02
max    2.021000e+03   9.133400e+04

In [23]:
df_title_episode.head()

      tconst parentTconst  seasonNumber  episodeNumber
0  tt0041951    tt0041038           1.0            9.0
1  tt0042816    tt0989125           1.0           17.0
2  tt0042889    tt0989125           NaN            NaN
3  tt0043426    tt0040051           3.0           42.0
4  tt0043631    tt0989125           2.0           16.0

In [24]:
df_title_basics[df_title_basics['tconst'] == 'tt0041951']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
41222,tt0041951,tvEpisode,The Tenderfeet,The Tenderfeet,0.0,1949.0,NaN,30.0,Western

In [25]:
df_title_basics[df_title_basics['tconst'] == 'tt0041038']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
40327,tt0041038,tvSeries,The Lone Ranger,The Lone Ranger,0.0,1949.0,1957.0,30.0,Western

In [26]:
df_title_episode[df_title_episode['parentTconst'] == 'tt0041038']

           tconst parentTconst  seasonNumber  episodeNumber
0       tt0041951    tt0041038           1.0            9.0
144358  tt0635319    tt0041038           4.0           13.0
144359  tt0635320    tt0041038           5.0           21.0
144360  tt0635321    tt0041038           1.0           41.0
144361  tt0635322    tt0041038           3.0           27.0
...           ...          ...           ...            ...
144573  tt0635535    tt0041038           1.0            6.0
144574  tt0635536    tt0041038           5.0            6.0
144575  tt0635537    tt0041038           1.0           44.0
144576  tt0635538    tt0041038           3.0           43.0
144577  tt0635539    tt0041038           3.0           12.0

[221 rows x 4 columns]

In [27]:
df_title_principals = pd.read_csv('data/title.principals.csv')

In [28]:
df_title_principals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54415582 entries, 0 to 54415581
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 2.4+ GB

In [29]:
df_title_principals.describe()

           ordering
count  5.441558e+07
mean   4.601110e+00
std    2.782257e+00
min    1.000000e+00
25%    2.000000e+00
50%    4.000000e+00
75%    7.000000e+00
max    1.000000e+01

In [30]:
df_title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0374658,cinematographer,director of photography,NaN
3,tt0000002,1,nm0721526,director,NaN,NaN
4,tt0000002,2,nm1335271,composer,NaN,NaN

In [31]:
df_title_principals[df_title_principals['nconst'] == 'nm1588970']

             tconst  ordering     nconst         category  job characters
0         tt0000001         1  nm1588970             self  NaN   ["Self"]
47613343  tt7513040         2  nm1588970  archive_footage  NaN   ["Self"]

In [32]:
df_name_basics[df_name_basics['nconst'] == 'nm1588970']

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
5274563,nm1588970,Carmencita,1868.0,1910.0,soundtrack,"tt0000001,tt0057728"

In [33]:
df_title_ratings = pd.read_csv('data/title.ratings.csv')

In [34]:
df_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275278 entries, 0 to 1275277
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1275278 non-null  object
 1   averageRating  1275278 non-null  float64
 2   numVotes       1275278 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.2+ MB

In [35]:
df_title_ratings.describe()

       averageRating      numVotes
count   1.275278e+06  1.275278e+06
mean    6.949243e+00  1.041849e+03
std     1.386245e+00  1.736527e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.100000e+01
50%     7.100000e+00  2.600000e+01
75%     7.900000e+00  1.010000e+02
max     1.000000e+01  2.695371e+06